<<<<<<< HEAD
<<<<<<< HEAD
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
    Contact Ruby on Rails Tutorial About the sample app at the
    <a href="http://railstutorial.org/contact"> contact page</a>

=======
=======
>>>>>>> filling-in-layout
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
    Contact Ruby on Rails Tutorial About the sample app at the
    <a href="http://railstutorial.org/contact"> contact page</a>

<<<<<<< HEAD
>>>>>>> filling-in-layout
=======
>>>>>>> filling-in-layout
</p>